PG_HOST=your_render_postgres_host
PG_PORT=5432
PG_USER=your_render_postgres_user
PG_PASSWORD=your_render_postgres_password
PG_DATABASE=water
PG_SSL=true

# For payment DB if separate
PAYMENT_PG_HOST=...
# etc.
